*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../imgs/bg.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body *{
    font-family: "Inter", sans-serif;
    line-height: 160%;
}

main{
    max-width: 400px;
    width: 90%;
    margin: auto;

    display: grid;
    gap: 10px;
    margin-bottom: 2rem;
}

header{
    margin-top: 1em;
}

header img:hover{
    transform: scale(1.1);
}

header img{
    width: 120px;
    border-radius: 50%;
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    margin: auto;
    display: flex;
    padding: 4px;
    transition: transform .2s;
}

section{
    color: white;
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    margin-top: 32px;
    border-radius: 10px;
}

section div{
    background-color: #242634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2{
    letter-spacing: -0.47px;
}

section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul{
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

section ul li{
    transition: transform .2s;
}

section ul li:hover{
    transform: scale(1.1);
}

section .setup-list li:hover{
    transform:none;
}

section .setup-list li{
    transition:nones;
}

.games-list img{
    width: 90px;
    border-radius: 8px;
}

.channel-list img{
    width: 70px;
    border-radius: 50%;
}

.channel-list img:nth-child(1){
    margin-right: 1rem;
}

.channel-list img:nth-child(2){
    margin-right: 1rem
}

.setup-list{
    flex-direction: column;
    list-style: disc;
    padding-left: 1.5rem;
}

.social-link a{
    margin-right: 1rem;
}



/* animation */

header div{
    animation: fromTop .3s .4s backwards;
}

@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

main section{
    animation: fromBottom .7s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .3s;
}

main section:nth-child(3){
    animation-delay: .6s;
}

main section:nth-child(4){
    animation-delay: .8s;
}

@keyframes fromBottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* swiper */

section{
    overflow: hidden;
}

section ul{
    flex-wrap: nowrap;
    gap: 0;
}